body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9e6eb; /* Rosa Suave */
    color: #333;
    display: flex; /* Convierte el body en un contenedor flex */
    flex-direction: column; /* Acomoda los elementos en columna */
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
}

.wrapper {
    flex: 1; /* El contenedor principal ocupa todo el espacio disponible */
}

header {
    background-color: #fff;
    color: #333;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    width: 200px;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comprar-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.comprar-btn:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #fff;
    color: #555;
    border-top: 1px solid #ddd;
}

.logo-vendedor {
    max-width: 100px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}
